


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  body {
    overflow-x: hidden;
    background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
    margin: 0;
    padding: 0;

  }
  
  
  
 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 10px 20px;
  background-color:  #33595e;
}


.logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.left-side img {
  max-height: 80px; /* Ajusta según el tamaño de tu logo */
  width: auto;
}

.right-side {
  margin-left: 15px; /* Espacio entre el logo y el texto */
}

.right-side h1 {
  margin: 0;
  font-size: 24px;
  color: white; /* Color del texto que contrasta con el fondo oscuro */
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.right-side p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #cccccc; /* Color más claro para el texto secundario */
  
}

  
  header .left-side a img {
    width: 100px;
    height: auto;
    display: block;
    max-width: 100%;
    mix-blend-mode: multiply;

  }
  
  
  header .right-side {
    display: flex;
  }
  
  
  header .right-side .nav-link-wrapper {
    margin-left: 40px;
  }
  
  
  header .right-side .nav-link-wrapper a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Viga', sans-serif;
  }
  
  
  
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .navbar .dropdown {
    position: relative;
    margin: 0 70px;
  }
  
  
  .navbar .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
  }
  
  
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
  }
  
  
  .navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .navbar .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  
  .navbar .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  .container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
  }
  
  
  .container .left-side {
    text-align: center;
    margin: 0px;
   
  }
  
  
  .container .left-side .area {
    font-size: 6.5em;
    color: #93ceff;
    letter-spacing: -2px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 0.9s ease-out infinite;
    text-shadow: 0px 0px 2px #ffffff, 0px 0px 7px #fff;
    font-family: Impact;
  }
  
  
  .container .left-side h1 {
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Viga', serif;
    color: rgb(65, 77, 245);
  }
  
  
  .container .left-side p {
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  
  
  .container .left-side a {
    display: inline-block;
    background: rgb(65, 77, 245);
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
  }
  
  
  
  @keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
    }
  }
  

  
  
 
  

  
/* __________________________________________________________________________________________________________
_______________________________________________________________________________________________________ */


.container {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 90%;
    min-height: 480px;
    margin-top: 20px;
    display: flex;
}


.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
}


.sign-in, .sign-up {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    z-index: 1;
    position: absolute;
}


.sign-in {
    left: 0;
}


.sign-up {
    right: 0;
}


.container.active .sign-in {
    transform: translateX(100%);
}


.container.active .sign-up {
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


.social-icons {
    margin: 20px 0;
}


.social-icons a {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #29b6f6;
    color: #29b6f6;
    font-size: 20px;
    text-decoration: none;
}


.container button {
    background-color: #29b6f6;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}


.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-radius: 150px 0 0 100px;
}


.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}


.toggle {
    background-color: #29b6f6;
    height: 100%;
    background: linear-gradient(to right, #4fc3f7, #29b6f6);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


.container.active .toggle {
    transform: translateX(50%);
}


.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


.toggle-left {
    transform: translateX(-200%);
}


.container.active .toggle-left {
    transform: translateX(0);
}


.toggle-right {
    right: 0;
    transform: translateX(0);
}


.container.active .toggle-right {
    transform: translateX(200%);
}




