
/* Estilos para el modal y formulario */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #555;
}

.campo-formulario {
    margin-bottom: 15px;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-formulario input, 
.campo-formulario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.duracion-container {
    display: flex;
    gap: 10px;
}

.duracion-container input {
    flex: 1;
}

.duracion-container select {
    flex: 1;
}

.botones-formulario {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.botones-formulario button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botones-formulario button[type="button"] {
    background-color: #ccc;
}

.botones-formulario button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.btn-nueva-reserva {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-nueva-reserva:hover {
    background-color: #45a049;
}


.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    bottom: 60px; /* Lo posiciona justo debajo */
    margin-left: 86px;
}


.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.show {
    display: block;
}

.bi-caret-down-fill {
    font-size: 16px;
    margin-left: 5px;
    color: white;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

span{
    margin-left: -5px;
    
}

.user-profile {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 1px;
}

.user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-profile .dropdown {
    margin-left: auto;
}



